.results-container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1600px;
  height: 800px;
  margin: 20px auto;
}

.main-header {
  font-size: 4.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.home-btn {
  font-size: 32px;
  margin-top: 50px;
}

@media (max-width: 1340px) {
  .results-container {
    max-width: 1000px;
    height: 600px;
  }
}

@media (max-width: 768px) {
  .results-container {
    max-width: none;
    height: auto;
  }

  .stats-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .results-container {
    margin: 0;
    padding: 0;
  }
}
