<div class="results-container">
    <h1 class="main-header">Quiz Results</h1>
    <div class="stats-container">
      <div class="stat-column">
        <div class="title">
            <div class="icon star-icon"></div>
        <h2 class="category-title"><p>Points</p></h2>
        </div>
        <p class="stat-value">{{ answerPoint }}</p>
      </div>
      <div class="stat-column">
        <div class="title">
            <div class="icon correct-icon"></div>
        <h2 class="category-title"><p>Correct Answers</p></h2>
        </div>
        <p class="stat-value">{{ correctAnswers }}</p>
      </div>
      <div class="stat-column">
        <div class="title">
            <div class="icon clock-icon"></div>
        <h2 class="category-title"><p>Time Spent</p></h2>
        </div>
        <p class="stat-value">{{ timeInSeconds }} s</p>
      </div>
      <div class="stat-column">
        <div class="title">
            <div class="icon time-icon"></div>
            <h2 class="category-title"><p>Longest Time on a Question</p></h2>
        </div>
        <p class="stat-value">{{ maxQuestionSpentTime }} s</p>
      </div>
      <div class="stat-column">
        <div class="title">
            <div class="icon streak-icon"></div>
        <h2 class="category-title"><p>Longest Streak</p></h2>
        </div>
        <p class="stat-value">{{ longestSerie }}</p>
      </div>
    </div>
  </div>