.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  background: linear-gradient(45deg, pink, orange);
  padding: 50px 0;
  margin: 0;
}
.mat-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  background: black !important;
}

.home-icon {
  height: 36px;
  width: 36px;
  font-size: 36px;
}

.home-btn {
  padding: 30px;
  background-color: transparent; 
  color: black;
  border: none;
  border-radius: 5px;
  border: solid 1px black;
  font-size: 36px;
  margin-right: 20px;
  min-width: 185px;
  cursor: pointer;
}

.quiz-card {
  width: 80%;
  height: auto;
  background: linear-gradient(60deg, rgb(253, 217, 217), rgb(243, 155, 155));
}

.title {
  font-size: 32px;
}

.header {
  border-bottom: solid 3px black !important;
  background: rgb(86, 86, 86) !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  color: white !important;
}

::ng-deep .mat-mdc-card-header.header {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.question {
  font-size: 32px;
  margin: 20px auto;
  text-align: center !important;
}

::ng-deep .mdc-form-field > label {
  font-size: 36px !important;
  font-weight: 700;
  color: white !important;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  gap: 40px 20px;
  margin: 150px auto;
}

.option {
  text-align: center !important;
  background: rgb(52, 52, 52) !important;
  padding: 25px 0 !important;
  border-radius: 15px !important;
  border: none !important; 
  color: white !important;
  font-size: 24px !important; 
  cursor: pointer !important;
}

.option:hover {
  background-color: #ff4040;
}

.option.selected {
  background-color: #ff4040;
}

@media (max-width: 1300px) {
  .home-icon {
    height: 26px;
    width: 26px;
    font-size: 26px;
  }

  .home-btn {
    font-size: 26px;
  }

  .category {
    font-size: 30px;
  }
}

@media (max-width: 930px) {
  .mat-card-container {
    height: 1100px;
    align-items: flex-start;
  }

  .home-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
  }

  .home-btn {
    font-size: 18px;
  }

  .category {
    line-height: 30px;
  }

  .quiz-card {
    margin-top: 50px;
    width: 95%;
  }

  .option {
    padding: 60px 0 !important;
    line-height: 36px !important;
  }

  .options {
    margin: 50px auto;
  }
}

@media (max-width: 650px) {
  .home-btn {
    padding: 5px;
    min-width: 100px;
    font-size: 18px;
    margin-right: 5px;
  }

  .home-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }

  .quiz-card {
    width: 98%;
  }
}
