.category{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    background: linear-gradient(45deg,pink, orange);
    padding: 50px 0;
    margin: 0;
}
.mat-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background: black !important;
}

.quiz-card{
    width: 80%;
    height: 600px;
    background: linear-gradient(60deg,rgb(253, 217, 217),rgb(243, 155, 155));
}

.title{
    font-size: 32px;
}

.header{    
    border-bottom: solid 3px black !important;
    background: rgb(86, 86, 86) !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    color: white !important;
}

::ng-deep .mat-mdc-card-header.header{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.question{
    font-size: 32px;
    margin: 20px auto;
    text-align: center !important;
}

// .options{
//     display: grid;
//     grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
//     gap: 40px 20px;
//     margin: 150px auto;
// }

// .option{
//     text-align: center !important;
//     background: rgb(52, 52, 52) !important;
//     padding: 25px 0;
//     border-radius: 15px;
// }

::ng-deep .mdc-form-field>label {
    font-size: 36px !important;
    font-weight: 700;
    color: white !important;
}

::ng-deep mat-radio-button:hover{
    cursor: pointer !important;
}

//radiobutton colors
::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: #ff4040 !important;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: #ff4040 !important;
}

::ng-deep .mat-mdc-radio-button{
    --mdc-radio-selected-focus-icon-color: #ff4040 !important;
    --mdc-radio-selected-hover-icon-color: ##ff4040 !important;
    --mdc-radio-selected-icon-color: ##ff4040 !important;
    --mdc-radio-selected-pressed-icon-color: ##ff4040 !important;
    --mat-radio-checked-ripple-color: ##ff4040 !important;
    --mdc-radio-disabled-selected-icon-color: #000 !important;
    --mdc-radio-disabled-unselected-icon-color: #000 !important;
    --mdc-radio-unselected-hover-icon-color: #212121 !important;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54) !important;
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54) !important;
    --mat-radio-ripple-color: #000 !important;
    --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38) !important;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 40px 20px;
    margin: 150px auto;
  }
  
  .option {
    text-align: center !important;
    background: rgb(52, 52, 52) !important;
    padding: 25px 0 !important;
    border-radius: 15px !important;
    border: none !important; /* Видалення рамки */
    color: white !important; /* Колір тексту */
    font-size: 24px !important; /* Можливо, потрібно змінити шрифт */
    cursor: pointer !important; /* Зміна курсора на вказівник */
  }
  
  .option:hover {
    background-color: #ff4040; /* Колір при наведенні */
  }
  
  .option.selected {
    background-color: #ff4040; /* Колір вибраного варіанту */
  }