* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif; /* default fonts*/
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
